<div class="generalStyle row mx-auto my-4 ">
  <div class="EMBUDO">
    <div class="d-flex align-items-center ">
      <h4 class="text-custom fw-bold">| Estado de ventas por asesor comercial </h4>
    </div>


    <!-- LOADING -->
    <div class="col-12 d-flex row" *ngIf="loading">
      <div class="mt-3 ps-4 col-12 col-lg-6" *ngFor="let item of loadingFunnels">
        <div class="card  shadow bg-body rounded">
          <div class="card-body  ">
            <p
              class="bg-loading animate__animated custom-loading  animate__flash texto position-relative text-white  py-4 rounded text-center">
            </p>
            <div
              class=" animate__animated custom-loading animate__flash d-flex bg-loading rounded justify-content-center align-items-center"
              [ngStyle]="{width: '100%', height:'330px'}">
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- EMBUDOS -->
    <div class="col-12 d-flex row">
      <div class="mt-3 ps-4 col-12 col-lg-6" *ngFor="let asesor of chartOptions">
        <div class="card  shadow bg-body rounded animate__animated animate__fadeIn">
          <div class="card-body  ">
            <p class="bg-primary-custom texto position-relative text-white  py-2 rounded text-center">Canal de ventas
              por etapa de {{asesor.nombreAsesor}}</p>

            <div *ngIf="asesor.mostrar == 0" class=" d-flex justify-content-center align-items-center"
              [ngStyle]="{width: '100%', height:'330px'}">
              <p class=" fw-bold texto fst-italic">No se ha encontrado registros</p>
            </div>
            <canvasjs-chart [options]="asesor" *ngIf="!(asesor.mostrar == 0)"
              [styles]="{width: '100%', height:'330px'}">

            </canvasjs-chart>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>